exclude: ^(theme|plugins|output)\/.+
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: no-commit-to-branch
      - id: check-yaml

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.21.3
    hooks:
      - id: commitizen
        stages: [commit-msg]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell

  - repo: https://github.com/crate-ci/typos
    rev: v1.20.4
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: style-reformat
        name: style-reformat
        stages: [commit]
        language: system
        pass_filenames: false
        entry: pipenv run inv format
        types: [python]

      - id: style-check
        name: style-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: pipenv run inv style
        types: [python]

      - id: security-check
        name: security-check
        stages: [push]
        language: system
        pass_filenames: false
        entry: pipenv run inv security-check
        types: [python]
