name: New pull request received

on:
  pull_request:
  workflow_dispatch:
    inputs:
      git_rev:
        description: "git revision"
        required: false
        default: ""

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: "${{ github.event.inputs.git_rev }}"
          submodules: true

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: |
          uv --version
          uv sync

      - name: Check Python coding style
        run: |
          uv run inv style

      - name: Check whether pelican local pages is buildable
        run: |
          uv run inv build

      - name: Check whether pelican public pages is buildable
        run: |
          uv run inv build-publish
