---

name: publish post

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Checkout submodules
        shell: bash
        run: |
          auth_header="$(git config --local --get http.https://github.com/.extraheader)"
          git submodule sync --recursive
          git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          version: "latest"

      - name: Install dependencies
        run: |
          uv --version
          uv sync --no-dev

      - name: Build
        run: |
          export GOOGLE_ANALYTICS=${{ secrets.GOOGLE_ANALYTICS }}
          export UTTERANCES_REPO=${{ github.repository }}
          uv run inv build-publish

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./output
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
